html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#App {
    width: 100%;
    height: 100%;
}

.mainPage {
    background-image: url('./img/main.png');
    background-size: cover;
    background-position: center bottom;
    /* 이미지 크기를 50%로 축소 */
    /* 이미지의 중앙을 기준으로 가로는 중앙, 세로는 위로 이동 */
    /* 이미지의 중앙을 기준으로 배경을 설정 */
    /* 가로는 자동으로 조절, 세로는 100%로 유지 */
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#mainLogo {
    text-align: center;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    font-size: 80px;
    color: white;
    position: relative;
    margin-top: 150px;
}

#subLogo {
    text-align: center;
    font-weight: lighter;
    font-family: 'Inter', sans-serif;
    font-size: 50px;
    color: white;
}

#mainLogo,
#subLogo {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
}

#mainLogo.show,
#subLogo.show {
    opacity: 1;
    transform: translateY(0);
}

.navConatiner {
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 10;
}

.navConatiner ul {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: bold;
    list-style: none;
    color: white;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: left;
    align-items: center;
}

.navConatiner ul li {
    width: 150px;
    text-align: center;
    margin-left: 20px;
}