html,
body,
main {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: skyblue;
}

#sliderContainer {
    background-color: rgb(255, 255, 255, 0.7);
    overflow: hidden;
    height: 600px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#sliderContainer div {
    position: absolute;
    transition: transform 1s, left 1s, opacity 1s, z-index 0s;
    opacity: 1;
}

#sliderContainer div img {
    width: 400px;
    transition: width 1s;
    border-radius: 20px;
}

#sliderContainer .hideLeft {
    left: 0%;
    opacity: 0;
    transform: translateY(50%)translateX(-50%)
}


#sliderContainer .hideRight {
    left: 100%;
    opacity: 0;
    transform: translateY(50%)translateX(-50%)
}

#sliderContainer .hideLeft img {
    width: 200px;
}

#sliderContainer .hideRight img {
    width: 200px;
}

#sliderContainer .prev {
    z-index: 5;
    left: 30%;
    transform: translateY(50px)translateX(-50%)
}

#sliderContainer .next {
    z-index: 5;
    left: 70%;
    transform: translateY(50px)translateX(-50%)
}

#sliderContainer .selected {
    z-index: 10;
    left: 50%;
    transform: translateY(3%) translateX(-50%);
}

#sliderContainer .prevLeftSecond {
    z-index: 3;
    left: 15%;
    transform: translateY(50%) translateX(-50%);
    opacity: 0.7;
}

#sliderContainer .nextRightSecond {
    z-index: 3;
    left: 85%;
    transform: translateY(50%) translateX(-50%);
    opacity: 0.7;
}

#sliderContainer .prev img {
    width: 300px;
}

#sliderContainer .next img {
    width: 300px;
}

#sliderContainer .selected img {
    width: 400px;
}

#sliderContainer .prevLeftSecond img {
    width: 200px;
}

#sliderContainer .nextRightSecond img {
    width: 200px;
}

#btnContainer {
    height: 50px;
    width: 100%;
    top: 15%;
    position: absolute;
    transform: translateY(-70%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 100px;
    height: 100%;
    margin: 20px;
}